body{
  background-color: #777;
  margin: 0;
  overflow: auto;
}

body::-webkit-scrollbar {
 width: 0.5em;
 height: 0.5em;
}

body::-webkit-scrollbar-track {
 background-color: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
 background-color: #888; 
}

.navLink {
      width: 100%;
      min-height: 100%;
      padding-left: 2%;
      padding-right: 2%;
      padding-top: 1%;
      margin-bottom: 2.5%;
      box-sizing: border-box;
      overflow: hidden;
}


.menulink {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.navLink h1{
  font-family: 'Amazone BT', sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 50px;
  margin: 0;
  text-align: center;
}

.logo{
  width: 8.5%;
  cursor: pointer;
  margin: 8px, 0;
}

.menuimg{
  display: none;
  width: 3%;
  cursor: pointer;
  padding-right: 10px;
}

nav{
  height: 40%;
  margin-left: 19%;
  margin-right: 1%;
  flex: 1;
  text-align: right;
  background-color: #3e9f90;
}

 nav ul li{
   list-style: none;
   display: inline-block;
   margin-right: 30px;
}

nav ul{
  padding-inline-start: 15px;
}

a{
  text-decoration: none;
  font-family: 'Charter Bd BT', sans-serif;
  color: #eef5fb;
  font-size: 14px;
}

a:hover{
  color: lightgreen;
  font-weight: bold;
  transition: color 0.5s;
}

#hatcheryLinks {
  display: none;
}

#hatcheryLinks.expanded {
  background-color: #DEB880;
  margin: 10px 0 10px 0;
  display: block;
  width: 70%;
  height: auto;
  position: relative;
  top: 0px;
  left: 40%;
}

.line{
  border: 2px solid #DEB880;
  width: 75%;
  align-items: center;
  padding: 0 0 0 0;
  margin: 2% 20% 2% 24.5%;
}

section{
  margin: 20px;
}

section h4{
  font-size: 105%;
}

section h1{
  text-align: center;
}

p{
  padding: 2px;
}

#expt{
  width: 7vw;
  padding: 1px;
  padding-left: 8px;
  margin: 1px;
}

#exptA{
  width: 12.5vw;
  padding: 1px;
  padding-left: 8px;
  margin: 1px;
}

#exptB{
  width: 50vw;
  padding: 1px;
  padding-left: 8px;
  margin: 1px;
}

#exptC{
  width: 15vw;
  padding: 1px;
  padding-left: 8px;
  margin: 1px;
}

h4{
  margin-bottom: 10px;
  margin-left: 70px;
  margin-right: 70px;
  padding-left: 5px;
  padding-right: 10px;
  font-size: 14px;
  font-weight: normal;
  font-family: Helvetica, sans-serif;
  }

table {
  border-radius: 2px;
  width: 100%;
  font-family: Arial, sans-serif;
  font-size: 17px;
  text-align: center;
  padding: 0 0.5% 0.9% 0.5%;
}

tr{
  vertical-align: middle;
  width: 25%;
  height: 40px;
}

caption {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}

th {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
}

iframe {
  border: 0;
  padding: 0 0.5% 0.9% 0.5%;
  width: 99%;
  height: 420px;
}

.footer{
  background-image: url('Sea-backgroundcjpg.jpg');
  background-size: 100%;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  clear: both;
  margin: 0;
  height: 90px;
  padding: 20px 0px 10px 0px;
  color: white;
}

.social-links a img{
height: 13px;
margin: 20px;
cursor: pointer;
}

 .social-links{
text-align: center;
 }

 @media only screen and (max-width: 700px){
   body{
     padding: 0;
   }

   @keyframes backgroundTransition1 {
         0% {
           background-color: rgba(54,38,83); /* Color A */
         }
         50% {
           background-color: #676752; /* Color B */
         }
         75% {
           background-color: rgba(139, 96, 208); /* Color A */
         }
         100% {
           background-color: rgba(54,38,83,); /* Color A */
         }
       }
   nav ul{
     width: 100%;
     animation: backgroundTransition1 20s infinite;
     position: absolute;
     top: 55px;
     right: 0;
     z-index: 2;
   }
   nav ul li{
     display: block;
     margin-top: 10px;
     margin-bottom: 10px;
   }

   #hatcheryLinks {
    display: none;
  }

  #hatcheryLinks.expanded {
    display: block;
    margin: 0;
    padding: 0;
    width: 50%;
    height: auto;
    position: relative;
    bottom: 0px;
    left: 50%;
  }
   
   .menuimg{
     width: 5%;
     display: block;
   }

   .logo{
     width: 12%;
     height: 10%;
   }

   #menuList{
     overflow: hidden;
     transition: 0.5s;
   }


 footer{
   margin-bottom: 0;
 }
 }
