body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  overflow: auto;
}

body::-webkit-scrollbar {
 width: 0.5em;
 height: 0.5em;
}

body::-webkit-scrollbar-track {
 background-color: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
 background-color: #888; 
}

.navLink {
      width: 100%;
      min-height: 70%;
      padding-left: 2%;
      padding-right: 2%;
      padding-top: 1%;
      margin-bottom: 2.5%;
      box-sizing: border-box;
      overflow: hidden;
}

.menulink {
    width: 100%;
    display: flex;
    align-items: center;
}

.navLink h1{
  font-family: 'Amazone BT', sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 50px;
  margin: 1% 15% 0 15%;
  text-align: center;
}

.logo{
  width: 8.5%;
  cursor: pointer;
  margin: 8px, 0;
}

.menuimg{
  display: none;
  width: 2.5%;
  cursor: pointer;
  padding-right: 10px;
}

nav{
  margin-left: 19%;
  margin-right: 1%;
  flex: 1;
  text-align: right;
  background-color: #3e9f90;
}

nav ul li{
   list-style: none;
   display: inline-block;
   margin-right: 30px;
}

nav ul{
  padding-inline-start: 15px;
}

#hatcheryLinks {
  display: none;
}

#hatcheryLinks.expanded {
  background-color: #DEB880;
  margin: 10px 0 10px 0;
  display: block;
  width: 70%;
  height: auto;
  position: relative;
  top: 0px;
  left: 40%;
}

a{
  text-decoration: none;
  font-family: 'Charter Bd BT', sans-serif;
  color: #eef5fb;
  font-size: 14px;
}

a:hover{
  color: lightgreen;
  font-weight: bold;
  transition: color 0.5s;
}

main {
  max-width: 80%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1, h2 {
  padding-left: 10px;
  color: #333;
}

p{
  text-align: center;
}

img {
  margin: 0 auto; /* Set left and right margins to auto */
  display: block;
  max-width: 55%;
  height: auto;
}


footer{
  background-image: url('Sea-backgroundcjpg.jpg');
  background-size: 100%
  background-position: center;
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  bottom: 0;
  clear: both;
  margin: 0 0 0 0;
  width: 100vw;
  height: 70px;
  padding: 20px 0px 10px 0px;
  color: white;
}
.social-links a img{
height: 13px;
margin: 20px;
cursor: pointer;
}

.social-links{
text-align: center;
 }
 @media only screen and (max-width: 700px){
   body{
     padding: 0;
     width: 100%;
   }

   @keyframes backgroundTransition1 {
         0% {
           background-color: rgba(54,38,83); /* Color A */
         }
         50% {
           background-color: #676752; /* Color B */
         }
         75% {
           background-color: rgba(139, 96, 208); /* Color A */
         }
         100% {
           background-color: rgba(54,38,83,); /* Color A */
         }
       }
   nav ul{
     width: 100%;
     animation: backgroundTransition1 20s infinite;
     position: absolute;
     top: 55px;
     right: 0;
     z-index: 2;
   }
   nav ul li{
     display: block;
     margin-top: 10px;
     margin-bottom: 10px;
   }

   #hatcheryLinks {
    display: none;
  }

  #hatcheryLinks.expanded {
    display: block;
    margin: 0;
    padding: 0;
    width: 50%;
    height: auto;
    position: relative;
    bottom: 0px;
    left: 50%;
  }
   
   .menuimg{
     width: 5%;
     display: block;
     cursor: pointer;
   }

   .logo{
     width: 12%;
     height: 10%;
   }

   #menuList{
     overflow: hidden;
     transition: 0.5s;
   }

   main {
     max-width: 80%;

 footer{
   margin-bottom: 0;
 }
 }
