 body{
  background-size: cover;
  padding: 0;
  margin: 0;

}

body::-webkit-scrollbar {
 width: 0.5em;/* Adjust the width as needed */
 height: 0.5em;  /* Adjust the height as needed */
}

body::-webkit-scrollbar-track {
 background-color: #f1f1f1; 
}

body::-webkit-scrollbar-thumb {
 background-color: #888;
}

@keyframes backgroundTransition {
      0% {
        background-color: rgba(54,38,83, 0.5); /* Color A */
      }
      50% {
        background-color: #676752; /* Color B */
      }
      75% {
        background-color: rgba(139, 96, 208, 0.5); /* Color A */
      }
      100% {
        background-color: rgba(54,38,83, 0.5); /* Color A */
      }
    }

body{
      animation: backgroundTransition 20s infinite;
    }


.navLink {
      width: 100%;
      min-height: 100%;
      padding-left: 2%;
      padding-right: 2%;
      padding-top: 1%;
      margin-bottom: 2.5%;
      box-sizing: border-box;
      overflow: hidden;
}


.menulink {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.navLink h1{
  font-family: 'Amazone BT', sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 50px;
  margin: 0;
  text-align: center;
}

.logo{
  width: 8.5%;
  cursor: pointer;
  margin: 8px, 0;
}

.menuimg{
  display: none;
  width: 3%;
  cursor: pointer;
  padding-right: 10px;
}

nav{
  height: 40%;
  margin-left: 19%;
  margin-right: 1%;
  flex: 1;
  text-align: right;
  background-color: #3e9f90;
}

 nav ul li{
   list-style: none;
   display: inline-block;
   margin-right: 30px;
}

nav ul{
  padding-inline-start: 15px;
}

a{
  text-decoration: none;
  font-family: 'Charter Bd BT', sans-serif;
  color: #eef5fb;
  font-size: 14px;
}

#hatcheryLinks {
  display: none;
}

#hatcheryLinks.expanded {
  background-color: #DEB880;
  margin: 10px 0 10px 0;
  display: block;
  width: 70%;
  height: auto;
  position: relative;
  top: 0px;
  left: 40%;
 }

a:hover{
  color: lightgreen;
  font-weight: bold;
  transition: color 0.5s;
}

.Intro{
  width: 100%;
  height: 90vh;
  background-image: url("sea backgrounda.jpg");
  background-size: cover;
  display: grid;
}

header h4,
header h3{
  align-self: end;
  padding: 2% 2% 1% 2%;
  margin: 2% 3% 1% 3%;
  font-family: Arial, sans-serif;
  font-size: 115%;
  line-height: 1.5;
  color: #fff;
  text-align: right;
  transition: background-color 0.5 ;
}

.line{
  border: 2px solid #DEB880;
  width: 75%;
  align-items: center;
  padding: 0 0 0 0;
  margin: 2% 20% 2% 24%;
}

header h4:hover{
  background-color: rgba(	147, 147, 147, 0.5);
}

header h3:hover{
  background-color: rgba(	147, 147, 147, 0.5);
}

#notHead{
  font-family: 'TTNorms-Regular', sans-serif;

}

.row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 100px;
}

.img{
  background-color: none;
}

.firstimg{
  width: 33%;
  margin: 0;
  padding: 0;
}
.secondimg{
  width: 41%;
  margin-right: 5%;
  padding: 0;
}
.thirdimg{
  width: 41%;
  margin-right: 5%;
  padding: 0;
}

.mySectiona,
.mySectionb,
.mySectionc{
  position: relative;
  margin: 0 1.5% 0 1.5%;
}


section{
      color: #000000;
      width: 55%;
      margin-right: 5px;
      background-color: rgba(	147, 147, 147, 0.2);
      background-size: 200px, 300px;
      padding: 0px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      text-align: center;
}

.sect_title h2{
  margin-bottom: 0;
}

section h2{
  font-family: 'Lucida Handwriting', cursive;
  font-size: 40px;
  padding: 8px;
  margin: 45px 0 0 0;
}

section h3{
  font-family: 'Lucida Handwriting', cursive;
  font-size: 25px;
  color: #000;
  font-weight: 100;
  margin: 15px 0 10px 0;
  padding: 7px;
}

section p{
  font-family: 'Socket', sans-serif;
  font-size: 16px;
  color: #000;
  font-weight: 100;
  margin: 0 0 20px 0;
  padding: 7px;
  margin-bottom: 5px;
}

ol{
   list-style: none;
   display: block;
   margin-right: 30px;
   padding-inline-start: 15px;
}

ol li{
  margin: 4.5px 0 4.5px 0;
}

ol li:hover{
  font-weight: bold;
  transition: color 0.3s;
  margin: 10px 0 10px 0;
}

button{
  width: 150px;
  border: 0;
  padding: 10px 0 10px 0;
  margin: 0 0 10px 0;
  color: #fff;
  text-decoration: none;
  background-color: rgba(	0, 0, 0, 0.2);
  border-radius: 10px;
  cursor: pointer;
  transition: width 0.5;
}

button:hover{
  width: 160px;
  font-size: 15px;
  justify-content: space-between;
  text-align: center;

}

section:nth-child(even){
}

section:nth-child(odd){
  background-color: rgba(0, 0, 0, 0); /* Transparent background */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0); /* Transparent box shadow */
}

footer{
  background-image: url('Sea-backgroundcjpg.jpg');
  background-size: 100%
  background-position: center;
  display: flex;
  justify-content: center;
  text-align: center;
  clear: both;
  margin: 0;
  height: 70px;
  padding: 20px 0px 10px 0px;
  color: white;
}
.social-links a img{
height: 13px;
margin: 20px;
cursor: pointer;
}

.social-links{
text-align: center;
 }


@media only screen and (max-width: 1360px){
  body{
    padding: 0;
    width: 100%;
  }

  @keyframes backgroundTransition1 {
        0% {
          background-color: rgba(54,38,83); /* Color A */
        }
        50% {
          background-color: #676752; /* Color B */
        }
        75% {
          background-color: rgba(139, 96, 208); /* Color A */
        }
        100% {
          background-color: rgba(54,38,83,); /* Color A */
        }
      }
 
 nav ul{
    width: 100%;
    height: 335px;
    animation: backgroundTransition1 20s infinite;
    position: absolute;
    top: 55px;
    right: 0;
    z-index: 2;
  }
 
  nav ul li{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  #hatcheryLinks {
    display: none;
  }

  #hatcheryLinks.expanded {
    display: block;
    margin: 0;
    padding: 0;
    width: 50%;
    height: auto;
    position: relative;
    bottom: 0px;
    left: 50%;
  }
  
  .menuimg{
    width: 5%;
    display: block;
    cursor: pointer;
  }

  .logo{
    width: 12%;
    height: 10%;
  }

  #menuList{
    overflow: hidden;
    transition: 0.5s;
  }

  #notHead{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 30px 0 20px 0;
  }

 .row{
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: auto auto;
   gap: 10px;
   justify-items: center;
   align-items: center;
   text-align: center;
   margin: 15px 0 10px 0;
   }

  header h4,
  header h3{
     font-size: 100%;
}


  .firstimg,
  .secondimg,
  .thirdimg,
  .mySectiona,
  .mySectionb,
  .mySectionc{
     margin: 10px 0 10px 0;
  }

  .firstimg{
    width: 45vw;
    height: auto;
  }

  .secondimg,
  .thirdimg{
    width: 65vw;
    height: auto;
  }

  section{
    width: 65vw;
    padding: 10px 0 10px 0;
  }

  .mySectiona,
  .mySectionb,
  .mySectionc{
    width: 65vw;
  }

footer{
  margin-bottom: 0;
}
}
