body {
  font-family: Arial, sans-serif;
  margin: 0px;
  background-color: #82768d;
  overflow: auto;
}

body::-webkit-scrollbar {
 width: 0.5em;
 height: 0.5em;
}

body::-webkit-scrollbar-track {
 background-color: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
 background-color: #888;
}

.navLink {
      width: 100%;
      min-height: 100%;
      padding-left: 2%;
      padding-right: 2%;
      padding-top: 1%;
      margin-bottom: 2.5%;
      box-sizing: border-box;
      overflow: hidden;
}


.menulink {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.navLink h1{
  font-family: 'Amazone BT', sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 50px;
  margin: 0;
  text-align: center;
}

.logo{
  width: 8.5%;
  cursor: pointer;
  margin: 8px, 0;
}

.menuimg{
  display: none;
  width: 3%;
  cursor: pointer;
  padding-right: 10px;
}

nav{
  height: 40%;
  margin-left: 19%;
  margin-right: 1%;
  flex: 1;
  text-align: right;
  background-color: #3e9f90;
}

 nav ul li{
   list-style: none;
   display: inline-block;
   margin-right: 30px;
}

nav ul{
  padding-inline-start: 15px;
}

a{
  text-decoration: none;
  font-family: 'Charter Bd BT', sans-serif;
  color: #eef5fb;
  font-size: 14px;
}

#hatcheryLinks {
  display: none;
}

#hatcheryLinks.expanded {
  background-color: #DEB880;
  margin: 10px 0 10px 0;
  display: block;
  width: 70%;
  height: auto;
  position: relative;
  top: 0px;
  left: 40%;
}

a:hover{
  color: lightgreen;
  font-weight: bold;
  transition: color 0.5s;
}

.notFooter{
  padding: 20px;
}

h1 {
  font-size: 3.5vw;
  text-align: center;
  color: #333;
}

h2{
  padding-left: 2%;
  width: 35vw;
  margin-top: 30px;
  color: #009;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.notFooter img {
  display: block;
  max-width: 50%;
  max-height: 65%;
  margin: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.smallimg{
      width: 550px;
      height: 350px;
 }

p {
  margin-bottom: 20px;
  line-height: 1.5;
}

.notFooter ul{
   list-style-type: none;
   padding-left: 0;
   margin-top: 10px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.notFooter a {
  color: #cdc8d1;
  transition: color 0.3s;
}

.notFooter a:hover {
  color: #003366;
  text-decoration: bold;
}

.notFooter{
  padding: 0 1% 0 1%;
  margin: 0 1% 0 1%;
}

#linka h2,
#linkb h2{
  position: relative;
  top: 35%;
  left: 10%;
  width: 35vw;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.0);
}
#linka h2:hover,
#linkb h2:hover{
  color: #009;
}

#linka{
  width: 45vw;
  height: 30vh;
  background-image:url("kosgoda hatcheries.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  margin: 2% 2% 2% 2%;
}
#linkb{
  width: 45vw;
  height: 30vh;
  background-image: url("Bentota-view-from-upper.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  margin: 2% 2% 2% 2%;

}

footer{
    background-image: url('sea backgroundbjpg.jpg');
    background-size: 100%;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    clear: both;
    margin: 0;
    height: 90px;
    padding: 20px 0px 10px 0px;
  }

  @media only screen and (max-width: 700px){
  body{
    padding: 0;
    width: 100%;
  }

  @keyframes backgroundTransition1 {
        0% {
          background-color: rgba(54,38,83); /* Color A */
        }
        50% {
          background-color: #676752; /* Color B */
        }
        75% {
          background-color: rgba(139, 96, 208); /* Color A */
        }
        100% {
          background-color: rgba(54,38,83,); /* Color A */
        }
      }
  nav ul{
    width: 100%;
    animation: backgroundTransition1 20s infinite;
    position: absolute;
    top: 55px;
    right: 0;
    z-index: 2;
  }
  nav ul li{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #hatcheryLinks {
    display: none;
  }

  #hatcheryLinks.expanded {
    display: block;
    margin: 0;
    padding: 0;
    width: 50%;
    height: auto;
    position: relative;
    bottom: 0px;
    left: 50%;
  }  
    
  .menuimg{
    width: 5%;
    display: block;
  }

  .logo{
    width: 12%;
    height: 10%;
  }

  #menuList{
    overflow: hidden;
    transition: 0.5s;
  }

  .notFooter img {
    max-width: 90vw;
    margin: 0;
    padding: 0;
  }

  .smallimg{
        width: 350px;
        height: 200px;
   }

footer{
  margin-bottom: 0;
}

}
